<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <style>
        body {
            background-color: #b3e5ff;
            font-family: Arial;
        }
        .result {
            text-align: center;
            padding: 50px;
        }
        a {
            background: #2c7be5;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div class="result">
    <h1>Online Payments Fraud Detection</h1>
    <h2>The predicted fraud for the online payment is:</h2>
    <h2><b>{{ prediction }}</b></h2>
    <br>
    <a href="/">Home</a>
    <a href="/predict">Predict Again</a>
</div>

</body>
</html>